@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

body{   
    font-family: 'Noto Sans TC';
    font-weight: 400;
}

/* font */
h1{
    font-size: 2rem;
    font-weight: 400;
    color: #F78F1E;
}

h2{
    font-size: 1.75rem;
    font-weight: 400;
    color: #F78F1E;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    color: #F78F1E;
}

h3{
    font-size: 1.125rem;
    font-weight: 400;
    color: #F78F1E;  
}

footer{
    font-weight: 300;
    color: #afafaf;
}

.footer-bottom, 
footer a{
    font-size: 0.8125rem;
    color: #afafaf;
}

footer .title{
    color: #fff;
}

.title{
    font-weight: 400;
    color: #878787;  
}

button{
    font-size: 1rem;
}

.pesticide-data p{
    color: #F78F1E;
}

.pesticide-data a{
    text-decoration: underline;
    color: #239ec5;
}

/* input */
.enter{
    min-width: 300px;
    height:32px;
    margin-right: 10px;
}

/* btn */
.btn{
    background-color:#F78F1E;
    border: 1px solid #fff;
    border-radius:5px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    gap:5px;
    cursor: pointer;
}

.btn-small{
    background-color:#F78F1E;
    border: 1px solid #fff;
    border-radius:5px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 6px 13px;
    gap:5px;
    cursor: pointer;
}

.btn-outline{
    background-color:#fff;
    border: 1px solid #F78F1E;
    border-radius:5px;
    color:#F78F1E ;
    display: flex;
    justify-content: center;
    padding: 10px 16px;
    gap:5px;
    cursor: pointer;
}

.btn-outlineSmall{
    background-color:#fff;
    border: 1px solid #F78F1E;
    border-radius:5px;
    color: #F78F1E;
    display: flex;
    justify-content: center;
    padding: 6px 13px;
    gap:5px;
    cursor: pointer;
}

.btn-expand{
    background-color:#fff;
    border-radius:5px;
    color:#F78F1E ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap:5px;
    cursor: pointer;
}

.btn-section{
    display: flex;
    gap: 10px;
}

/* btn-varient */
.btn:hover,
.btn-small:hover{
    background-color: rgb(247, 142, 30, 0.8);
}

.btn:active,
.btn-small:active{
    background-color: rgb(247, 142, 30);
}

.btn-outline:hover,
.btn-outlineSmall:hover{
    background-color:#FEF6ED;
}   

.btn-outline:active,
.btn-outlineSmall:active{
    background-color:#FEF2E4;
}   

/* star */
.product-info-star .fas.fa-star{
    color: #F78F1E;
}

/* attribute */
.attribute{
    background-color:#FDE9D2;
    color: #000;
    border-radius:5px;
    display: flex;
    justify-content: flex-start;
    padding: 6px 13px;
    gap:5px;
    font-size: 0.8125rem;
    width: fit-content;
}

/* toggle-btn */
.toggle-btn-left, .toggle-btn-right {
	padding: 3px 18px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
	color: #F78F1E;
	/* myCode */
	/* border:1px solid #fff; */
}

#btn {
	/* left: 0;
	top: 0; */
	position: absolute;
	width: 66px;
	height: 26.5px;
	background: #F78F1E;
	border:1px solid #fff;
	border-radius: 5px;
	transition: .5s;
}

/* .toggle-btn:focus {
	padding: 3px 18px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
	color: #fff;
} */

/* ham */
.ham {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: block;
}
  
.ham-origin {
    position: absolute;
    top: 50%;
    left: 50%;
}
  
.ham-bar {
    height: 2px;
    width: 16px;
    position: absolute;
    background: #333333;
    transition: all .5s;
}
  
.ham-bar--top {
transform: translateY(-6px);
}

.ham-bar--bottom {
transform: translateY(6px);
}

#nav-toggle {
display: none;
}

#nav-toggle:checked ~ .ham .ham-bar--middle {
opacity: 0;
}

#nav-toggle:checked ~ .ham .ham-bar--top {
transform: rotate(-45deg);
}

#nav-toggle:checked ~ .ham .ham-bar--bottom {
transform: rotate(45deg);
}

