@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
@import url(/css/component.css);

.news span > p,
.products span > p{
    color: #A3A3A3;
    font-size: 0.8125rem;
}

.news span > h3,
.products span > h3{
    color: #000;
    cursor: pointer;
}

/* content-title */
.news, .products, .issue{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.news h2,
.products h2,
.issue > h2{
    text-decoration: underline;
    text-underline-offset:10px;
}

/* hero-section */
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 135px 0px;
    margin-bottom: 50px;
    background-color: #FAFAFA;
}

.hero-section h1{
    text-align: center;
}

.hero-section > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-top: 63px;
}

/* search */
.wrap{
    display: flex;
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}

.search :focus{
    border: 1px solid #F78F1E;
    box-shadow: 0px 0px 3px #F78F1E inset;
}

.search input{
    width: 100%;
    height: 25px;
    padding: 10px 0px 10px 20px;
    /* border: 1px solid #F78F1E;
    border-right: none; */
}

.searchTerm {
    width: 100%;
    border: 1px solid #F78F1E;
    height: 20px;
    border-radius: 50px 0px 0px 50px;
    outline: none;
    font-size: 1rem;
    /* color: #9DBFAF; */
}

.searchButton{
    width: 80px;
    height: 47px;
    padding: 0px;
    border: 1px solid #F78F1E;
    border-left: none;
    background: rgb(247, 143, 30);
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton:hover{
    background-color:rgb(247, 143, 30, 0.8);
}

.searchButton:active{
    background-color:rgb(247, 143, 30);   
}

.searchButton img{
    padding-right: 5px;   
}

.btn-section{
    display: flex;
    gap: 10px;
}

/* issue */
.issue{
    display: flex;
}

.issue > div{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 0px 190px;
    margin-bottom: 100px;
}

.item01 div{
    flex-basis: 300px;
}

/* content */
.news, .products{
    margin-bottom: 100px;
}

.items-section{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px 0px;
}

.items-section > span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 280px;
    flex-shrink: 1;
}

.item03 .content{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 0px;
}

.itom03 .btn-section{
    display: flex;
}

/* contact */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: #FAFAFA;
    color: #F78F1E;
}