/* reset */
body, h1, ul, li {
  margin: 0;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}

/* header */
header{
  border: 1px solid #E8E8E9;
  color: #333333;
  border-top:none;
  border-left:none;
  border-right:none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 120px;
}

.logo{
  align-self: flex-end;
}

.header-menu{
  display: flex;
  align-items: center;
}

/* NavBar */
nav{
  padding: 14px 120px;
  justify-content: space-between;
  gap: 20px;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}
nav h1 {
  float: left;
  padding-left: 50px;
  line-height: 50px;
}

/* 漢堡按鈕 */
label {
  float: right;
  padding-right: 50px;
  line-height: 50px;
  cursor: pointer;
}
label img {
  width: 30px;
  vertical-align: middle;
}

/* menu*/
.menu {
  clear: both;
  background: #fff;
  gap: 30px;
  display: flex;
}

.menu li {
  text-align: center;
}

.menu li a {
  display: block;
  line-height: 40px;
  font-size: 1rem;
  color: #000;
}
.menu li a:hover {
  background: #FAFAFA;
}
.menu li a:active {
  background: #E8E8E9;
}

/* 下拉選單效果 */
.menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s; /* 動畫秒數 */
}

input:checked ~ .menu {
  max-height: 500px;
}

.ham {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: block;
  position: relative;
}
.ham-origin {
  position: absolute;
  top: 50%;
  left: 80%;
}
.ham-bar {
  height: 2px;
  width: 20px;
  position: absolute;
  background: rgb(0, 0, 0);
  margin: -1px 0 0 -13px;
  transition: all 0.5s;
}

/* animation */
.ham-bar--top {
  transform: translateY(-6px);
}
.ham-bar--bottom {
  transform: translateY(6px);
}
#nav-toggle {
  display: none;
}
#nav-toggle:checked ~ .ham .ham-bar--middle {
  opacity: 0;
}
#nav-toggle:checked ~ .ham .ham-bar--top {
  transform: rotate(-45deg);
}
#nav-toggle:checked ~ .ham .ham-bar--bottom {
  transform: rotate(45deg);
}

/* **************************************** */
/* **************************************** */
/* 回覆側邊欄 */
@media screen and (min-width: 1024px) {
  .ham {
    display: none;
  }
  .menu {
    float: right;
    clear: none;
    max-height: 50px;
  }
  .menu li {
    display: inline-block;
  }
}

/* 延伸選單 */
@media screen and (max-width: 1024px) {
    nav{
      padding: 14px 16px;
    }    

    .menu{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      padding-left: 5px;
    }

    .ham{
      padding-right: 0px;
    }
      
}
